@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    background: rgb(24, 24, 24);
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    /* mix-blend-mode: exclusion; */
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

span {
    font-size: 3em;
    text-transform: lowercase;
    /* color: rgb(255, 0, 43); */
    color: white;
    font-family: 'Montserrat', sans-serif;
}
